.bg-amber {
  background-color: #ffa000;
}
.bg-red {
  background-color: #e14045;
}
.bg-blue-gray {
  background-color: #607d8b;
}
.bg-green {
  background-color: #4caf50;
}
.bg-cyan {
  background-color: #00bcd4;
}
.color-amber {
  color: #ffa000;
}
.color-red {
  color: #e14045;
}
.color-blue-gray {
  color: #607d8b;
}
.color-green {
  color: #4caf50;
}
.color-cyan {
  color: #00bcd4;
}
@media (max-width: 998px) {
  .text-sm-center {
    text-align: center;
  }
}
.full {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
hr {
  width: 75%;
  border-color: #95a5a6;
}
hr.full {
  width: 100%;
}
hr.left {
  margin-left: 0;
  margin-right: auto;
}
table.table > tbody > tr > td.shrink {
  vertical-align: middle;
}
table.table > tbody > tr > td.shrink:last-child {
  width: 1%;
  white-space: nowrap;
}
.page-wrap {
  flex: 1;
  align-self: stretch;
}
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.has-header {
  padding-top: 60px;
}
.navbar-default {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.navbar-default a {
  transition: all 0.25s ease;
}
.navbar-default .navbar-brand {
  padding-top: 0;
  line-height: 55px;
  padding-bottom: 0;
}
.navbar-default .navbar-brand:hover > img {
  transform: scale(1.15) translateZ(0);
}
.navbar-default .navbar-brand > img {
  width: auto;
  height: 100%;
  display: inline-block;
  padding: 10px;
  transform: scale(1) translateZ(0);
  transition: all 0.25s ease;
}
.navbar-default .navbar-nav > li > a.hollow {
  border: 1px solid #18bc9c;
  color: #18bc9c;
  display: inline-block;
  padding: 15px 15px;
  margin-top: 7px;
  line-height: 1;
  margin-left: 15px;
  border-radius: 4px;
}
.navbar-default .navbar-nav > li > a.hollow:hover {
  color: #fff;
  background-color: #18bc9c;
}
.hero-title {
  background-color: #ecf0f1;
  position: relative;
  margin-bottom: 0;
  background-attachment: fixed;
}
.hero-title h1 {
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.hero-title p {
  color: #ecf0f1;
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.hero-title .container {
  z-index: 2;
  position: relative;
}
.hero-title:after {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  z-index: 1;
  position: absolute;
  animation: animatedBackground 50s linear infinite alternate;
  background-image: url("../images/map-big.png");
  background-size: 125%;
  background-attachment: fixed;
}
.hero-title:before {
  left: 0;
  background-color: rgba(44,62,80,0.5);
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  z-index: 2;
  position: absolute;
}
.hero-title #homeMap {
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
}
.card {
  background-color: #f0f0f0;
  width: 100%;
  transition: all 0.25s ease;
  margin-top: 25px;
  margin-bottom: 15px;
  overflow: hidden;
}
.card:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.card:hover img {
  transform: scale(1.05);
}
.card img {
  transition: all 0.25s ease;
  width: 150px;
  height: 150px;
  margin: 15px auto 0;
  display: block;
}
.card .title {
  font-weight: bold;
  text-align: center;
}
.card .content {
  text-align: center;
  padding: 0 25px;
  margin-bottom: 20px;
}
section {
  padding: 25px 0 15px;
}
.mobile-app {
  background-color: #607d8b;
  background-image: url("../images/cars.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin: 0;
  position: relative;
}
.mobile-app:before {
  background-color: rgba(44,62,80,0.75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  z-index: 0;
}
.mobile-app img {
  width: 100%;
  max-width: 350px;
  transition: all 0.25s ease;
}
.mobile-app a {
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.25s ease;
}
.mobile-app a p {
  color: #ecf0f1;
}
.mobile-app a:hover {
  text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-decoration: none;
}
.mobile-app a:hover img {
  transform: scale(1.05);
}
footer.footer {
  color: rgba(255,255,255,0.75);
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 25px;
  background-color: #212e3c;
  background-image: url("../images/bg.png");
}
.breadcrumb {
  background: none;
  margin: 0;
}
.breadcrumb li {
  color: #18bc9c;
}
.breadcrumb li:before {
  color: rgba(255,255,255,0.75);
}
.uneg {
  background-color: rgba(0,0,0,0.25);
  left: 0;
  right: 0;
  height: 25px;
  bottom: 0;
  position: absolute;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
}
.testMap-container {
  position: relative;
  background-color: #ecf0f1;
}
.testMap-container .distance {
  background-color: #ecf0f1;
  color: #2c3e50;
  right: 50%;
  bottom: 10px;
  padding: 15px 25px;
  position: absolute;
  transform: translateX(50%);
  text-align: center;
  line-height: 1;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.testMap-container .distance span {
  color: #18bc9c;
  margin-left: 10px;
  font-weight: bold;
}
.testMap-container #testMap {
  width: 100%;
  height: 100%;
}
.big-bg {
  background-image: url("../images/map-big.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
.big-bg:after {
  background-color: rgba(44,62,80,0.45);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  z-index: 0;
  position: absolute;
}
.form-card {
  width: 100%;
  margin: 0 auto 25px;
  padding: 20px 15px;
  max-width: 360px;
  text-align: center;
  background-color: #f0f0f0;
  transition: all 0.25s ease;
  border-radius: 6px;
  z-index: 9;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-top: 50px;
}
.form-card img {
  width: 100px;
  height: 100px;
}
.form-card h1 {
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.form-card button.action {
  background: none;
  color: #2c3e50;
  border: 1px solid #2c3e50;
  padding: 10px 30px;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 15px;
  transition: all 0.25s ease;
}
.form-card button.action i {
  margin-left: 5px;
}
.form-card button.action:hover,
.form-card button.action:active {
  background-color: #2c3e50;
  color: #fff;
}
.form-card:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.form-map {
  background-color: #b4bcc2;
  height: 400px;
  overflow: hidden;
  border-radius: 4px;
}
.form-registro {
  max-width: 768px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 10px;
}
.form-registro h1 {
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(44,62,80,0.5);
  margin-bottom: 15px;
}
@-moz-keyframes animatedBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}
@-webkit-keyframes animatedBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}
@-o-keyframes animatedBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}
@keyframes animatedBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}
