// PALETTE
$gray_base     = #000 
$gray_darker   = lighten($gray_base, 13.5%)  
$gray_dark     = #7b8a8b    
$gray          = #95a5a6  
$gray_light    = #b4bcc2  
$gray_lighter  = #ecf0f1 

$brand_primary = #2C3E50 
$brand_success = #18BC9C 
$brand_info    = #3498DB 
$brand_warning = #F39C12 
$brand_danger  = #E74C3C 

$amber     = #FFA000
$red       = #e14045
$blue_gray = #607D8B
$green     = #4CAF50
$cyan      = #00BCD4  

palette = {
  "amber":     $amber,
  "red":       $red,
  "blue-gray": $blue_gray,
  "green":     $green,
  "cyan":      $cyan
}
color-class(palette)
// PALETTE


@media (max-width: 998px)
  .text-sm-center
    text-align center 

.full
  size 100%

body 
  display        flex
  min-height     100vh
  flex-direction column
  bg             $f0
  
hr
  width        75%
  border-color $gray
  &.full
    width 100%
  &.left
    margin-left  0
    margin-right auto
    
table.table > tbody > tr
  > td.shrink
    vertical-align middle
    &:last-child
      width       1%
      white-space nowrap

    
  
.page-wrap
  flex 1
  align-self stretch
  
.aligner 
    display         flex
    align-items     center
    justify-content center

  
// SHADOWS
_shadow_1($type = box-shadow)
  {$type}: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
_shadow_2($type = box-shadow)
  {$type}: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
// SHADOWS

  
// NAV BAR
.has-header
  padding-top 60px
.navbar-default
  _shadow_2()
  a
    transition all .25s ease
  .navbar-brand
    padding-top    0
    line-height    55px
    padding-bottom 0
    &:hover
      > img
        transform scale(1.15) translateZ(0)
    > img
      width      auto
      height     100%
      display    inline-block
      padding    10px
      transform  scale(1) translateZ(0)
      transition all .25s ease
  .navbar-nav > li > a
    &.hollow
      border        1px solid $brand_success
      color         $brand_success
      display       inline-block
      padding       15px 15px
      margin-top    7px
      line-height   1
      margin-left   15px
      border-radius 4px
      &:hover
        color             #FFF
        background        $brand_success
// NAV BAR


// HERO TITLE
.hero-title
  background              $gray_lighter
  position                relative
  margin-bottom           0
  background-attachment   fixed
  h1
    font-weight bold
    _shadow_1(text-shadow)
  p
    color $gray_lighter
    _shadow_1(text-shadow)
  .container
    z-index  2
    position relative
  &:after
    left                  0
    top                   0
    size                  100%
    content               ''
    z-index               1
    position              absolute
    animation             animatedBackground 50s linear infinite alternate;
    background            "../images/map-big.png"
    background-size       125%
    background-attachment fixed
  &:before
    left 0
    background rgba($brand_primary, .5)
    top        0
    size       100%
    content    ''
    z-index    2
    position   absolute
  #homeMap
    top      0
    size     100%
    z-index  0
    position absolute
    
@keyframes animatedBackground {
  from { background-position: 0% 0%; }
  to { background-position: 100% 100%; }
}
// HERO TITLE

.card
  bg         #f0
  width      100%
  transition all .25s ease
  margin-top 25px
  margin-bottom 15px
  overflow hidden
  &:hover
    _shadow_1()
    img
      transform scale(1.05)
  img
    transition all .25s ease
    size          150px
    margin        15px auto 0
    display       block
  .title
    font-weight bold
    text-align center
  .content
    text-align center
    padding 0 25px
    margin-bottom 20px

section
  padding 25px 0 15px    
  
.mobile-app
  bg       $blue_gray "../images/cars.jpg" cover center
  overflow hidden
  margin   0
  position relative
  &:before
    bg       rgba($brand_primary, .75)
    top      0
    left     0
    size     100%
    content ''
    position absolute
    z-index 0
  img
    width 100%
    max-width 350px
    transition all .25s ease
  a
    _shadow_1(text-shadow)
    transition all .25s ease
    p 
      color      $gray_lighter
    &:hover
      _shadow_2(text-shadow)
      text-decoration none
      img
        transform scale(1.05)

// FOOTER
footer.footer
  color            rgba(white, .75)
  width            100%
  overflow         hidden
  position         relative
  padding-bottom   25px
  background-color $brand_primary - 25%
  background       "../images/bg.png"
	// p 
	// 	margin 0
	.breadcrumb	
		background     none
		margin 0
		li
      color $brand_success
    li:before  
  		color rgba( white, .75 )
.uneg
  background              rgba(black, .25)
  left                    0
  right                   0
  height                  25px
  bottom                  0
  position                absolute
  font-size               14px
  font-weight             300
  line-height             25px
// FOOTER


// TEST MAP CONTAINER
.testMap-container
  position   relative 
  background $gray_lighter
  .distance
    background    $gray_lighter
    color         $brand_primary
    right         50%
    bottom        10px
    padding       15px 25px
    position      absolute
    transform     translateX(50%)
    text-align    center
    line-height   1
    border-radius 4px
    _shadow_1()
    span
      color       $brand_success
      margin-left 10px
      font-weight bold
  #testMap
    size 100%
// TEST MAP CONTAINER


// FORMULARIOS
.big-bg
  bg "../images/map-big.png" cover center
  position relative
  &:after
    bg       rgba($brand_primary, .45)
    top      0
    left     0
    size     100%
    content  ''
    z-index  0
    position absolute
  
.form-card
  width         100%
  margin        0 auto 25px
  padding       20px 15px
  max-width     360px
  text-align    center
  background    #f0
  transition    all .25s ease
  border-radius 6px
  z-index       9
  position      relative
  _shadow_1()
  margin-top 50px
  img
    size          100px
  h1
    font-weight bold
    _shadow_1(text-shadow)
  button.action
    background            none
    color                 $brand_primary
    border                1px solid $brand_primary
    padding               10px 30px
    font-weight           bold
    border-radius         4px
    margin-bottom         15px
    transition            all .25s ease
    i
      margin-left 5px
    &:hover,      &:active
      background          $brand_primary
      color               #FFF
  &:hover
    _shadow_2()
.form-map
  bg            $gray_light
  height        400px  
  overflow      hidden
  border-radius 4px
  
.form-registro
  max-width  768px
  margin 0 auto
  padding-top    25px
  padding-bottom 10px
  h1
    font-weight   bold
    text-shadow   1px 1px 2px rgba($brand_primary, .5)
    margin-bottom 15px
// FORMULARIOS

